@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap');

/*.mozilla-headline-<uniquifier> {

font-family: "Mozilla Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  
}*/

.App {
  text-align: center;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Mozilla Headline", sans-serif;
  font-optical-sizing: auto;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}


#background{
display: block;
z-index: -2;
position:fixed;
overflow:clip;
max-width:inherit;
max-height:inherit;
/*max-height: 700px;*/
}
.heading{
  text-align: center;
  top: 10px;
}
.heading > h1{
  font-size: 180%;
}

.shadow{
  background-color: rgba(0, 0, 0, 0.493);
  color: white;
  border-radius: 15px;
}

.hidden-word{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  list-style: none;
  overflow-wrap:break-word;
  padding-top: 1%;
}
@media only screen and (max-width:768px) {
  .hidden-word{
    inline-size: 100px;
  }
}
@media only screen and (min-width:769px) {
  .hidden-word{
    inline-size:auto;
  }
}

.hidden-letter{
  /*padding: 20px 20px ;*/
  font-size: 28px;
  margin: 5%;
  background-color: rgba(0, 0, 0, 0.806);
  border-radius: 15%;
}

.guess-container{
  color: black;
  display: flex;
  flex-direction:row;
  padding: 5px 5px;
  position: relative;
  margin: auto;
  
}

#correct{
  position: inherit;

}

#incorrect{
  position: inherit;

}

.correct-ul , .incorrect-ul{
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  
}

.correct-letter, .incorrect-letter{
  list-style:none;
  background-color: rgba(255, 255, 255, 0.607);
  border-radius: 15%;
}

.correct-letter:last-child:after , .incorrect-letter:last-child:after{
  content: ",";
  padding-right: 5px;
  margin: auto;
  }

#incorrect-words{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
align-items: baseline;
}
.word-ul{
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
}
.incorrect-word{
  list-style: none;


}
.incorrect-word:last-child:after{
content: ",";
padding-right: 10px;
}


.new-game{
  position: relative;
  display: inline-block;
}

.guess-btn{
  position: relative;
  bottom:3px;
  left: 5px;
}

#game-word{
position: inherit;
margin-top: 2%;
font-size: 170%;
}

.error-notification{
  position: inherit;
  text-align: center;
  /*padding-top: 10%;
  padding-bottom: 2%;*/
  padding: 2%;
  font-size: larger;
  font-weight: bolder;
  color: rgb(134, 0, 0);
}

#game-won{
 max-height: 300px;
 max-width: 600px;
}

#game-won > img {
  max-width: 100%;
  height: auto;
}

.creator-links {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: center;
}

.creator-links > li {
  padding-right: 25px;
  background-color: rgba(0, 0, 0, 0.493);
}


.creator-links > li> a{
  text-decoration: none;
  color: rgb(134, 255, 249);
}

.creator-links > li> a:hover{
  color: black;
  /*background-color: rgba(134, 255, 249, 0.486);*/
  background-image: linear-gradient(to right,rgba(134, 255, 249, 0.781) , rgba(255, 255, 0, 0));
  text-decoration: underline solid;
}

.creator-links > li > a >img{
  height: 45px;
  width: 45px;
  background-color: rgb(236, 232, 255);
  border-radius: 60%;
}

/*.image-container{
  height: 300px;/*450px;
  width:  241px;/*362px;
}/*

/*.guess-border{
  border: 2px solid white;
  border-radius: 10%;
  padding: 1px 5px;
  margin-left: 10px;
}*/
